.gridEq{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(6,50px);
    grid-template-rows: repeat(6,50px);
}
.grideq_item{
    border: 1px solid black;
    color:white;
}
.song_controller{
    display: none;
}
#waveform {
    display: flex;
    height: 100px;
    overflow: hidden;
}

.bar {
    width: 2px;
    margin-right: 1px;
    background-color: blue;
}